<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
	<h4 class="masthead-title">
	  <a href="{{ site.baseurl }}"> Blargh Posts </a>
	  <a href="projects/">Long-Term Projects</a>
	  <a href="http://www.astro.washington.edu/users/yoachim/">Astro Homepage</a>
	  </h4>
	
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
